# Test Report


<details>
  <summary>Main Page</summary>

<table>
    <tr>
      <th>Funksjoner</th>
      <th>Beskrivelse</th>
      <th>Bilder</th>
      <th>Resultat</th>
    </tr>
    <tr>
      <td>Opprette ny handleliste</td>
      <td>Kunne opprette ny handleliste</td>
      <td> 
        <img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/0da5018b-e808-4175-8760-a1d4f1ef26db" width="48">
        <img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/54504e25-327b-41a7-882f-655ba58521e8" width="48">
        <img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/084497fa-64c4-493d-aafb-babf1261a1c2" width="48">
        <img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/3012eb71-ba13-4c74-b8fb-398c4d633f3f" width="48">
      </td>
      <td>Funket. Handelisten ble sortert øverst sli kden skal.</td>
    </tr>
    <tr>
      <td>Redigere handleliste </td>
      <td>Kunne rediger handleliste og legge til/fjerne personer å dele handelisten med.</td>
      <td> 
        <img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/c78bce06-b51e-4664-81ce-bd59797676a3" width="48">
        <img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/8222b7f4-1c07-43ef-8bef-5bc514e5ea5d" width="48">
        <img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/8142659b-ea2f-407b-89db-227c635bb02d" width="48">
        <img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/8142659b-ea2f-407b-89db-227c635bb02d" width="48">
 </td>
      <td>Funket å redigere. Eneste som ikke funket helt er at "opprett ny" menyen forblir oppe etter at man har lagt til ny person (se siste bildet). Dette er en feil i rammeverket.</td>
    </tr>
    <tr>
      <td>Kunne slette handeliste.</td>
      <td>Ved sletting av handleliste skal handelistens innhold slettes og delte brukeren(e) som i tabellen for de som handlelisten var delt med.</td>
      <td> 
        <img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/a6c8d8d0-d0f5-442b-b6fe-e8bd493b8ca7" width="48"> 
        <img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/2e6a912c-9351-4d41-b9ca-5c3db071880f" width="48">
      </td>
      <td>Funket, varer og personer fra handelisten ble slettet.</td>
    </tr>
</table>
 

</details>
