# Test Report


<details>
  <summary>Main Page</summary>

<table>
    <tr>
      <th>Funksjoner</th>
      <th>Beskrivelse</th>
      <th>Bilder</th>
      <th>Resultat</th>
    </tr>
    <tr>
      <td>Opprette ny handleliste</td>
      <td>Kunne opprette ny handleliste</td>
      <td> <img src="https://github.com/favicon.ico" width="48"> </td>
    </tr>
    <tr>
      <td>Redigere handleliste </td>
      <td>Kunne rediger handleliste og legge til/fjerne personer å dele handelisten med.</td>
      <td> 
        <img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/c78bce06-b51e-4664-81ce-bd59797676a3" width="48">
        <img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/8222b7f4-1c07-43ef-8bef-5bc514e5ea5d" width="48">
        <img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/8142659b-ea2f-407b-89db-227c635bb02d" width="48">
 </td>
      <td> <img src="" width="48"> </td>
    </tr>
    <tr>
      <td>Kunne slette handeliste.</td>
      <td>Ved sletting av handleliste skal handelistens innhold slettes og delte brukeren(e) som i tabellen for de som handlelisten var delt med.</td>
      <td> 
        <img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/a6c8d8d0-d0f5-442b-b6fe-e8bd493b8ca7" width="48"> 
        <img src="https://github.com/ArvidWedtstein/Fagproove/assets/71834553/2e6a912c-9351-4d41-b9ca-5c3db071880f" width="48">
      </td>
      <td>Funket, varer og personer fra handelisten ble slettet.</td>
    </tr>
</table>
 

</details>
